html,
.todo-header{
  position: relative;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 80px;
  line-height: 100px;
  color: #cccccc;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}
