@import "var.scss";

html,
body{
    margin:  0;
    padding: 0;
    
}

body{
    background-color: $background-color;
    font-family: $text-font;
    color:$text-color;
}

h1{
    margin: 0;
    font-weight: 400;
}


button {
    border: 0;
    background-color: $transparent;
}

input[type="text"]{
    border: 0;
    padding-left: 4px;
    padding-right: 4px;
    background-color: $background_color_list;
    font-family: $text-font;
   
}
input[type="text"] ::placeholder{
    color: $white_grey_dark;
    font-style: $text-input-style;
}